@model Kookaburra.Models.Home.DashboardViewModel

<div class="page dashboard">
    <div class="page-main">
        <div class="page-content">

            <div class="row">

                <div class="col-xl-3 col-md-6 col-xs-12 info-panel">
                    <div class="card card-shadow">
                        <div class="card-block bg-white p-20">
                            <button type="button" class="btn btn-floating btn-sm btn-danger">
                                <i class="icon wb-chat"></i>
                            </button>
                            <span class="m-l-15 font-weight-400">CHAT QUEUE</span>
                            <div class="content-text text-xs-center m-b-0">
                                <span class="font-size-40 font-weight-100">399</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-xs-12 info-panel">
                    <div class="card card-shadow">
                        <div class="card-block bg-white p-20">
                            <button type="button" class="btn btn-floating btn-sm btn-warning">
                                <i class="icon wb-envelope"></i>
                            </button>
                            <span class="m-l-15 font-weight-400">NEW OFFLINE QUESTIONS</span>
                            <div class="content-text text-xs-center m-b-0">                            
                                <span class="font-size-40 font-weight-100">@Model.NewOfflineMessages</span>                                
                            </div>
                        </div>
                    </div>
                </div>  
                
            </div>

        </div>
    </div>
</div>


@*<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: 'cccc4c27-504d-46fb-b1ec-f75045fc5bda', f: true }); done = true; } }; })();</script>*@


@*<script>
        window.intercomSettings = {
            app_id: "a79mpbxp"
        };
    </script>
    <script>(function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', intercomSettings); } else { var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Intercom = i; function l() { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/a79mpbxp'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })()</script>*@


<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
    window.$zopim || (function (d, s) {
        var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                    _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
        $.src = "https://v2.zopim.com/?59v8uwGim2DoAnn0UWJayCwa28eoTrXE"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
    })(document, "script");
</script>
<!--End of Zendesk Chat Script-->