
<div class="page"> 
    <div class="page-content">

        @if (!ViewBag.IsPaid)
        {
            <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="panel">
                    <div class="panel-body container-fluid">
                        <div class="pricing-list">
                            <div class="pricing-header bg-red-600">
                                <div class="pricing-title">Essentials</div>
                                <div class="pricing-price">
                                    <span class="pricing-currency">$</span>
                                    <span class="pricing-amount">5</span>
                                    <span class="pricing-period">/ month</span>
                                </div>
                                <p class="p-x-30 p-b-25">Billed monthly</p>
                            </div>
                            <ul class="pricing-features">
                                <li>
                                    Unlimited chats
                                </li>
                                <li>
                                    Unlimited offline messages
                                </li>
                                <li>
                                    Chat history for 6 months
                                </li>
                                <li>
                                    Hosted in the cloud
                                </li>
                                <li>
                                    Visitor details
                                </li>
                                <li>
                                    Multiple website support
                                </li>
                                <li>
                                    Automated greetings
                                </li>
                                <li>
                                    Mobile friendly
                                </li>
                                <li>
                                    256-bit SSL secure connection
                                </li>
                            </ul>
                            <div class="pricing-footer text-xs-center bg-blue-grey-100">
                                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="JVKKNPH6JTRLG">
                                    <input type="image" src="http://localhost:64410/images/subscribe.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                                    <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
                                </form>

                                <a class="btn btn-primary btn-lg" href="#">Subscribe Now</a>
                                <br />
                                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Credit Card Badges">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        }
        else
        {
            <p>Thanks for upgrading to a paid plan.</p>
        }
    </div>
</div>