@model Kookaburra.Models.Home.PreviewViewModel

<div class="page">
    <div class="page-header">
        <h1 class="page-title">WIDGET PREVIEW</h1>
    </div>

    <div class="page-content">
    </div>
</div>


@section js
{
    @Html.Raw(Model.Code)
}