@model Kookaburra.Models.Home.PreviewViewModel

<div class="page-title row">
    <div class="title-env col-sm-11">
        <h1 class="title">Widget Preview</h1>
        <p class="description">TEST CHAT WIDGET BEFORE YOU GO LIVE</p>
    </div>
</div>

@section scripts
{
    @Html.Raw(Model.Code)
}