@model System.Collections.Generic.List<string>

<div class="alert dark alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    @if (Model.Count() > 1)
    {
        <ul>
            @foreach(var error in Model)
            {
                <li>@error</li>
            }
        </ul>
    }
    else if (Model.Count() == 1)
    {
        @Model.First()
    }
</div>