<!DOCTYPE html>
<html>
<head>
    <title>Kookaburra</title>

    @Styles.Render("~/bundles/css/widget")

    @RenderSection("head", required: false)
</head>
<body>
    <div class="widget">     

        @RenderBody()

        <div class="footer">
            <label>Powered by <strong><a>Kookaburra</a></strong></label>
            <div style="clear:both;"></div>
        </div>
    </div>
</body>
</html>