<!DOCTYPE html>
<html>
<head>
    <title>Kookaburra</title>

    @Styles.Render("~/bundles/css/widget")

    @RenderSection("head", required: false)
</head>
<body>
    <div class="widget">     

        @RenderBody()

        <div class="footer">
            <label><a href="https://www.kookaburra.com/" target="_blank">Powered by Kookaburra</a></label>
            <div style="clear:both;"></div>
        </div>
    </div>
</body>
</html>