<div class="site-menubar site-menubar-dark">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu" data-plugin="menu">
                    <li class="site-menu-item active open">
                        <a class="animsition-link" href="/dashboard">
                            <i class="site-menu-icon fa fa-dashboard" aria-hidden="true"></i>
                            <span class="site-menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/chats">
                            <i class="site-menu-icon wb-chat-group" aria-hidden="true"></i>
                            <span class="site-menu-title">Chats</span>
                            <span class="badge badge-secondary" style="display: none;" data-bind="text: activeChats().length, visible: activeChats().length > 0"></span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/history">
                            <i class="site-menu-icon fa fa-history" aria-hidden="true"></i>
                            <span class="site-menu-title">History</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/preview">
                            <i class="site-menu-icon wb-chat-text" aria-hidden="true"></i>
                            <span class="site-menu-title">Preview</span>
                        </a>
                    </li>
                    <li class="site-menu-item">
                        <a class="animsition-link" href="/settings">
                            <i class="site-menu-icon wb-settings" aria-hidden="true"></i>
                            <span class="site-menu-title">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>