<div class="page vertical-align text-xs-center page-error" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
        <header>
            <h1 class="animation-slide-top">404</h1>
            <p>Page Not Found !</p>
        </header>        
        <a class="btn btn-primary btn-round" href="/">GO TO DASHBOARD</a>
        <footer class="page-copyright"></footer>
    </div>
</div>