@model Kookaburra.ViewModels.Chat.RoomViewModel

@{
    ViewBag.PageLayout = "page-aside-right";
}

<div id="layout-chatroom" class="page operator-chats">

    <div class="page-aside">
        <div class="page-aside-switch">
            <i class="icon md-chevron-left" aria-hidden="true"></i>
            <i class="icon md-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner">

            <section class="page-aside-section current-chats" style="display: none;" data-bind="visible: conversations().length > 0">
                <h5 class="page-aside-title">Current Chats</h5>
                <ul class="list-group" data-bind="foreach: conversations">
                    <li class="list-group-item" data-bind="css: {active: isCurrent}, click: $parent.switchChat">
                        <div class="media">
                            <div class="media-left">
                                <a class="avatar avatar-online" href="javascript:void(0)">
                                    <img class="img-fluid" src="~/images/user-1.png"><i></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" data-bind="text: visitorName"></h4>
                                <span class="media-time">15 sec ago</span>
                            </div>
                            <div class="media-right">
                                <span class="tag tag-pill tag-danger" data-bind="visible: unreadMessages() > 0, text: unreadMessages"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>

        </div>
    </div>

    <div class="page-main">

        <div class="page-content">
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">
                        <div class="col-md-6 col-xs-12">
                            <!-- Example Basic -->
                            <div class="example-wrap">
                                <h4 class="example-title">Basic</h4>
                                <div class="example">
                                    <div class="h-300" data-plugin="scrollable">
                                        <div data-role="container">
                                            <div data-role="content">
                                                <p>
                                                    Aspernatur, disserendi tempora initiis tria sitne vituperata
                                                    consentientis timiditatem plus, idque reprehendunt eveniet
                                                    curiosi dixerit pararetur recte defendere obruamus excruciant,
                                                    fames. Maior, disserendi philosophorum, probantur geometriaque
                                                    vetuit militaris, istis pars porrecta, litteras possit
                                                    sententia, liquidae conducunt atqui istis cognosci philosophi
                                                    ignorare tutiorem, statua consumeret idcirco.
                                                </p>
                                                <p>
                                                    Explicabo. Mererer declinabunt scribentur compositis vita
                                                    referuntur dicit, incurrunt efficitur, chorusque quosque
                                                    iudico mollitia vidisse detracto. Comprehenderit anteponant
                                                    triarius manilium, sic quoque perpessio, labitur temeritas
                                                    incorruptis curis duxit sum putet diogenem plura, veniam
                                                    insatiabiles delectet studiis scientiam manilium, puto
                                                    imbutus dicat optio ferre ex bonum.
                                                </p>
                                                <p>
                                                    Apud manus mortem ostendis, parte facile errata dissensio
                                                    imbutus amentur acuti efficiat pauca. Aegritudo consumere
                                                    sabinum eaque magnus libidinem, hosti doctrinis consentinis
                                                    maximisque apud privamur definitiones quaerenda medeam,
                                                    poetarum diuturnum legat electram voluerint quapropter
                                                    dicas, pluribus, amatoriis cognomen deserere ipsos movere
                                                    vivendo diligenter, eloquentiam concertationesque.
                                                </p>
                                                <p>
                                                    Sequimur seditione vita arbitrarer quoddam tranquillat
                                                    me, sumus suscipit, veri secumque iudicio, omnis efficeretur
                                                    atque perciperet, interesset, pater miraretur eruditus
                                                    paene aperta primis etiamsi multa appellantur ei, disciplinis
                                                    oderit subtilius. Petentium redeamus blanditiis, temperantiamque
                                                    utilitatibus eisque amicorum fruuntur reliquarum laudatum,
                                                    asperiores tantalo. Democriti posidonium urbes.
                                                </p>
                                                <p>
                                                    Omittam voluptatis inopem, medium fatendum loquerer commodis,
                                                    sapientes laudem exaudita fugienda expectant diligi t
                                                    gravitate genus optinere. Liberavisse cn clamat nasci
                                                    periculum ignavi geometriaque, fodere bono faciam reliquerunt
                                                    spatio legantur inmortalibus inopem, infimum amicitiae
                                                    modi servata, finiri voluntates videtis uti. Nacti anteponant
                                                    amplificarique legendi versuum.
                                                </p>
                                                <p>
                                                    Placuit pellat oportet sinat optimi consequi natum, naturalem
                                                    monstret nominant delectatum homines inane fruentem accedunt.
                                                    Cognosci regione phaedrum contenta. Putavisset fatendum
                                                    laetetur inventore malit eventurum ostendis tenetur praesentium
                                                    admonere. Iusto nullas odia salutatus dicturum videatur
                                                    patientiamque accusamus, inmensae corporum efficerent,
                                                    futuris affirmatis expeteremus meis torquato.
                                                </p>
                                                <p>
                                                    Utriusque iucunditas misisti. Necessitatibus repellere
                                                    dediti, efficeret vestra dicturam amoris credo, parentes
                                                    similique feramus iudicare triarium. Labefactetur videre
                                                    disciplinae malit, secutus hominibus quanti pararetur
                                                    optabilem est permanentes, dignissimos epicurei petulantes
                                                    disciplinam breviter idque magnus oportet dicant studia.
                                                    Indignius persequeris accusamus, versatur concessum velit
                                                    pariuntur vivatur.
                                                </p>
                                                <p>
                                                    Inveniri partes conscientia earumque rationis intemperantiam
                                                    causa choro delectant miseram, numeris temeritate capti
                                                    specie expetendum earum. Pulcherrimum susceperant corpora
                                                    sapienti insequitur inciderint censet praetermittatur
                                                    notionem coercendi. Inducitur salutatus inesse clamat
                                                    probaretur mediocriterne relinqueret antiquitate, expetenda
                                                    vitium severitatem benivole. Status fugiendis musicis
                                                    doleamus ignota desperantes eram.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="display: none;" data-bind="visible: conversations().length > 0">
                                <div class="col-sm-9 current-chat" data-bind="with: currentChat">
                                    <div class="panel panel-bordered panel-action chat">
                                        <!-- Add class "collapsed" to minimize the panel -->
                                        <div class="panel-heading text-center">
                                            <h1 class="panel-title">
                                                Chat with <span class="text-capitalize" data-bind="text: visitorNameFormatted"></span>
                                                <br />
                                                <small> Started <span data-bind="text: startTimeFormatted"></span></small>
                                            </h1>
                                        </div>

                                        <div class="panel-body">

                                            <div id="conversation" class="chat-window" data-plugin="scrollable">
                                                <div data-role="container">
                                                    <div data-role="content">
                                                        <ul id="messages" class="conversation" data-bind="foreach: messages">
                                                            <li class="row message" data-bind="css: sentBy">

                                                                <div class="col-sm-1 author" data-bind="visible: sentBy() == 'operator'">
                                                                    <img src="/images/user-1.png" class="img-circle" alt="user-pic">
                                                                    <div class="author-name" data-bind="text: author"></div>
                                                                </div>
                                                                <div class="col-sm-11">
                                                                    <div class="time" data-bind="text: time"></div>
                                                                    <div class="text" data-bind="text: text"></div>
                                                                </div>
                                                                <div class="col-sm-1 author" data-bind="visible: sentBy() == 'visitor'">
                                                                    <img src="/images/user-1.png" class="img-circle" alt="user-pic">
                                                                    <div class="author-name" data-bind="text: author"></div>
                                                                </div>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="chat-message">
                                                <textarea data-bind="textInput: $parent.newText" class="form-control" placeholder="Enter your message..."></textarea>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3 chat-list">
                                    <div class="row">
                                        <div class="col-sm-12" data-bind="with: currentChat">

                                            <div class="xe-widget xe-progress-counter xe-progress-counter-turquoise current-chat">

                                                @*<div class="xe-background">
                                                        <i class="linecons-comment"></i>
                                                    </div>*@

                                                <div class="xe-upper">
                                                    <div class="xe-icon">
                                                        <i class="linecons-comment"></i>
                                                    </div>
                                                    <div class="xe-label">
                                                        <strong class="num" data-bind="text: visitorNameFormatted"></strong>
                                                    </div>
                                                </div>

                                                <div class="xe-lower">

                                                    <div data-bind="visible: !isClosed()">
                                                        <div class="border"></div>

                                                        <button class="btn btn-purple btn-icon" data-bind="click: $parent.disconnect">
                                                            <i class="fa-times-circle"></i>
                                                            DISCONNECT
                                                        </button>
                                                    </div>

                                                    <div class="border"></div>

                                                    <span data-bind="text: location"></span>
                                                    <strong data-bind="text: currentUrl"></strong>

                                                    <div class="border"></div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row" style="display: none;" data-bind="visible: conversations().length == 0">
                                <div class="col-sm-12">
                                    <div role="alert" class="alert dark alert-info alert-icon alert-dismissible">
                                        <i class="icon md-alert-circle-o" aria-hidden="true"></i>
                                        <h4>Kookaburra</h4>
                                        <p>
                                            There are currently no active chats.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var chatRoomViewModel = new ChatRoomViewModel('@Model.OperatorName');
        ko.applyBindings(chatRoomViewModel, document.getElementById("layout-chatroom"));

        chatRoomViewModel.init();
    });

</script>

@section css
{
    @Styles.Render("~/bundles/css/chatroom")
}

@section js
{
    @Scripts.Render("~/bundles/js/chatroom")    
}