@model Kookaburra.ViewModels.Chat.RoomViewModel

<h1>chat room</h1>

<div class="row" data-bind="visible: currentChat != null">
    <div class="col-sm-6 col-sm-offset-3" data-bind="with: currentChat">
        <div class="panel panel-color panel-success chat">
            <!-- Add class "collapsed" to minimize the panel -->
            <div class="panel-heading text-center">
                <h3 class="panel-title col-sm-12">
                    Chat with <span class="text-capitalize" data-bind="text: visitorNameFormatted"></span>
                    <br />
                    <small> Started <span data-bind="text: startTimeFormatted"></span></small>
                </h3>
            </div>

            <div class="panel-body">

                <ul class="conversation-messages ps-scrollbar ps-scroll-down ps-container ps-active-y">
                    <li data-bind="foreach: messages">

                        <div class="row">
                            <div class="col-sm-2 chat-author" data-bind="text: author">
                                
                            </div>
                            <div class="col-sm-8 chat-message" data-bind="text: text">
                                                                
                            </div>
                            <div class="col-sm-2 chat-time" data-bind="text: time">
                               
                            </div>
                        </div>

                    </li>
                </ul>

                <div class="chat-message">
                    <textarea data-bind="textInput: $parent.newText" 
                              class="form-control" placeholder="Enter your message..."></textarea>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-2 col-sm-offset-1" data-bind="visible: conversations().length > 0">
        <div class="xe-widget xe-conversations conversations">
            <div class="xe-header">
                <div class="xe-icon">
                    <i class="linecons-comment"></i>
                </div>
                <div class="xe-label">
                    <h3>
                        Conversations
                    </h3>
                </div>
            </div>
            <div class="xe-body">

                <ul class="list-unstyled">

                    <li data-bind="foreach: conversations" >
                        <div class="conversation-item" data-bind="css: {active: isCurrent}">
                            <a href="#" class="xe-user-name" data-bind="click: $parent.switchChat">
                                <div class="xe-comment-entry">
                                    <img src="/images/user-2.png" class="img-circle" width="40">

                                    <div class="xe-comment">
                                        <strong data-bind="text: visitorName"></strong>
                                        <p></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                     
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>

<div class="row" data-bind="visible: conversations().length == 0">
    <div class="col-sm-12">
        <h1>There is currently no chats</h1>
    </div>
</div>

<script src="~/Scripts/chat-room.js"></script>

<script>
    ko.applyBindings(new ChatRoomViewModel('@Model.OperatorName'));
</script>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/knockout-3.4.0.js"></script>    
}