<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="DefaultConnection"
       connectionString="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A1807D_kookaburra;Persist Security Info=True;User ID=DB_A1807D_kookaburra_admin;Password=Avocado2017;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient"
       xdt:Transform="Replace"
       xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="Url.Portal" value="http://portal.kookaburra.chat/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Url.Website" value="http://kookaburra.chat/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.webServer>
    <security xdt:Transform="Insert">
      <ipSecurity allowUnlisted="false" denyAction="Forbidden">
        <add allowed="true" ipAddress="61.68.144.199"/>
        <add allowed="true" ipAddress="101.178.141.127"/>
        <add allowed="true" ipAddress="108.171.134.163"/>
        <add allowed="true" ipAddress="108.171.133.163"/>
        <add allowed="true" ipAddress="202.128.106.33"/>
        <add allowed="true" ipAddress="110.175.17.228"/>        
      </ipSecurity>
    </security>

    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="Insert">
      <clear />
      <error statusCode="404" path="/Error/NotFound" responseMode="ExecuteURL" />
    </httpErrors>
    
  </system.webServer>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>