<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="DefaultConnection"
       connectionString="Data Source=sql5032.smarterasp.net;Initial Catalog=DB_A1807D_staging;Persist Security Info=True;User ID=DB_A1807D_staging_admin;Password=Avocado2017;MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient"
       xdt:Transform="Replace"
       xdt:Locator="Match(name)" />
  </connectionStrings>
    
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.webServer>
    <security xdt:Transform="Insert">
      <ipSecurity allowUnlisted="false" denyAction="Forbidden">
        <add allowed="true" ipAddress="61.68.144.199"/>
      </ipSecurity>
    </security>
    
    <httpErrors xdt:Transform="Remove"/>    
  </system.webServer>
  
</configuration>