<div class="panel panel-color panel-success chat">
    <!-- Add class "collapsed" to minimize the panel -->
    <div class="panel-heading text-center">
        <h3 class="panel-title col-sm-12">
            Chat with {{conversation.visitorName | uppercase}}
            <br />
            <small> Started at {{conversation.conversationStartTime | date:'shortTime'}} on {{conversation.conversationStartTime | date:'yMMMMd'}} </small>
        </h3>        
    </div>

    <div class="panel-body"> 

        <ul class="conversation-messages ps-scrollbar ps-scroll-down ps-container ps-active-y">     
            <li *ngFor="#message of conversation.messages">

                <div class="row">                    
                    <div class="col-sm-2 chat-author ">
                        {{message.author}}:
                    </div>
                    <div class="col-sm-8 chat-message ">
                        {{message.text}}
                    </div>
                    <div class="col-sm-2 chat-time">
                        {{message.time | date:'shortTime'}}
                    </div>
                </div>
              
            </li>
        </ul>

        <div class="chat-message">
            <textarea [(ngModel)]="currentMessage" (keyup.enter)="onEnter($event)" class="form-control" placeholder="Enter your message..."></textarea>
        </div>

    </div>
</div>