
<div class="page">
    <div class="page-main">
        <div class="page-content">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Javascript
                    </h3>
                </div>
                <div class="panel-body">
                    <!-- Example Javascript -->
                    <div class="example">
                        <pre data-plugin="highlight"><code class="javascript">import {x, y} as p from &#39;point&#39;;
const ANSWER = 42;
class Car extends Vehicle {
  constructor(speed, cost) {
    super(speed);
    var c = Symbol(&#39;cost&#39;);
    this[c] = cost;
    this.intro = &#96;This is a car runs at
      ${speed}.&#96;;
  }
}
for (let num of [1, 2, 3]) {
  console.log(num + 0b111110111);
}
function $initHighlight(block, flags) {
  try {
    if (block.className.search(/\bno\-highlight\b/) != -1)
      return processBlock(block.function, true, 0x0F) + &#39; class=&quot;&quot;&#39;;
  } catch (e) {
    /* handle exception */
    var e4x =
        &lt;div&gt;Example
            &lt;p&gt;1234&lt;/p&gt;&lt;/div&gt;;
  }
  for (var i = 0 / 2; i &lt; classes.length; i++) { // &quot;0 / 2&quot; should not be parsed as regexp
    if (checkCondition(classes[i]) === undefined)
      return /\d+[\s/]/g;
  }
  console.log(Array.every(classes, Boolean));
}
export  $initHighlight;
</code></pre>
                    </div>
                    <!-- End Example Javascript -->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <link rel="stylesheet" href="/remark/global/vendor/highlight/styles/default.css">
    <link rel="stylesheet" href="/remark/global/vendor/highlight/styles/github-gist.css">
    <link rel="stylesheet" href="/remark/global/vendor/highlight/highlight.css">
    <link rel="stylesheet" href="/remark/assets/examples/css/advanced/highlight.css">
}

@section bottom_scripts
{
    <script src="/remark/global/vendor/highlight/highlight.pack.js"></script>
    <script src="/remark/global/js/Plugin/highlight.js"></script>
}

@section run_scripts
{
    hljs.initHighlightingOnLoad();
}