@model Kookaburra.Models.Settings.CodeViewModel

<div class="page">
    <div class="page-main">
        <div class="page-content">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Javascript

                        <button id="copy-code" class="btn pull-right" data-clipboard-text="@Model.CodeSnippet">Copy to clipboard</button>
                    </h3>
                             
                </div>
                <div class="panel-body">
                    <!-- Example Javascript -->
                    <div class="example">
                        <pre data-plugin="highlight">
                            <code class="html">@Model.CodeSnippet</code>
                        </pre>
                    </div>
                    <!-- End Example Javascript -->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    new Clipboard('#copy-code');
</script>

@section js
{
    <link rel="stylesheet" href="/remark/global/vendor/highlight/styles/default.css">
    <link rel="stylesheet" href="/remark/global/vendor/highlight/styles/github-gist.css">
    <link rel="stylesheet" href="/remark/global/vendor/highlight/highlight.css">
    <link rel="stylesheet" href="/remark/assets/examples/css/advanced/highlight.css">

    <script src="~/bower_components/clipboard/dist/clipboard.min.js"></script>

    <script src="/remark/global/vendor/highlight/highlight.pack.js"></script>
    <script src="/remark/global/js/Plugin/highlight.js"></script>
}

@section run_scripts
{
    hljs.initHighlightingOnLoad();
}