@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    ViewBag.BodyClass = "page-forgot-password";
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="page-content vertical-align-middle">
    <div class="panel">
        <div class="panel-body">
            <div>
                <h2>Email sent</h2>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>