@model Kookaburra.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    ViewBag.BodyClass = "page-forgot-password";
    ViewBag.Title = "Forgot your password?";
}

<div class="page-content vertical-align-middle">
    <div class="panel">
        <div class="panel-body">
            <div>
                <h2>Forgot Your Password ?</h2>
                <p>Input your registered email to reset your password</p>
            </div>
            @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "login", @class = "login-form", role = "form", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()


                <div class="form-group floating">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "off", placeholder = "Email", spellcheck = "false" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-lg m-t-40">Send reset instructions</button>             
            }
        </div>
    </div>
</div>