@model Kookaburra.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    ViewBag.BodyClass = "page-login page-dark site-menubar-unfold";
    ViewBag.Title = "Login to Kookaburra Chat!";
}

<div class="page-content vertical-align-middle">
    <div class="panel">
        <div class="panel-body">
            <div class="brand">
                <img class="brand-img" src="/images/logo-main.png" alt="kookaburra">
                <h2 class="brand-text">Kookaburra</h2>
            </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "login", @class = "login-form", role = "form", autocomplete = "off" }))
                  {
                    @Html.AntiForgeryToken()
                    <div class="form-group floating">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "off", placeholder = "Email"})

                    </div>
                    <div class="form-group floating">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off", placeholder = "Password" })

                    </div>
                    <div class="form-group clearfix">
                        <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-xs-left">
                            <input type="checkbox" id="inputCheckbox" name="remember">
                            <label for="inputCheckbox">Remember me</label>
                        </div>
                        <a class="pull-xs-right" href="/forgot-password">Forgot password?</a>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btn-lg m-t-40">Sign in</button>

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                  }
            <p>Still no account? Please go to <a href="/sign-up">Sign up</a></p>
        </div>
    </div>
</div>