@model Kookaburra.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    <title>Blank | Remark Admin Template</title>

    <link rel="apple-touch-icon" href="/remark/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/remark/assets/images/favicon.ico">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/remark/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="/remark/global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="/remark/assets/css/site.min.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="/remark/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="/remark/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="/remark/global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="/remark/global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="/remark/global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="/remark/global/vendor/flag-icon-css/flag-icon.css">
    <link rel="stylesheet" href="/remark/assets/examples/css/pages/login-v3.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="../../../global/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="../../../global/fonts/brand-icons/brand-icons.min.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <!--[if lt IE 9]>
      <script src="../../../global/vendor/html5shiv/html5shiv.min.js"></script>
      <![endif]-->
    <!--[if lt IE 10]>
      <script src="../../../global/vendor/media-match/media.match.min.js"></script>
      <script src="../../../global/vendor/respond/respond.min.js"></script>
      <![endif]-->
    <!-- Scripts -->
    <script src="../../../global/vendor/breakpoints/breakpoints.js"></script>
    <script>
  Breakpoints();
    </script>

    <!-- Core  -->
    <script src="/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/tether/tether.js"></script>
    <script src="/vendor/bootstrap/bootstrap.js"></script>
    <script src="/vendor/animsition/animsition.js"></script>
    <script src="/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
    <script src="/vendor/waves/waves.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
</head>

<body class="animsition page-login-v3 layout-full">
    <!--[if lt IE 8]>
          <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
    <!-- Page -->
    <div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
        >
        <div class="page-content vertical-align-middle">
            <div class="panel">
                <div class="panel-body">
                    <div class="brand">
                        <img class="brand-img" src="/images/logo-small.png" alt="...">
                        <h2 class="brand-text font-size-18">Kookaburra</h2>
                    </div>
                  @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "login", @class = "login-form", role = "form" }))
                  {
                    @Html.AntiForgeryToken()
                        <div class="form-group form-material floating" data-plugin="formMaterial">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "off"})                                                 
                            <label class="floating-label">Email</label>
                        </div>
                        <div class="form-group form-material floating" data-plugin="formMaterial">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
                            <label class="floating-label">Password</label>
                        </div>
                        <div class="form-group clearfix">
                            <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-xs-left">
                                <input type="checkbox" id="inputCheckbox" name="remember">
                                <label for="inputCheckbox">Remember me</label>
                            </div>
                            <a class="pull-xs-right" href="forgot-password.html">Forgot password?</a>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg m-t-40">Sign in</button>
                  }
                    <p>Still no account? Please go to <a href="register-v3.html">Sign up</a></p>
                </div>
            </div>
            <footer class="page-copyright page-copyright-inverse">              
                <p>© 2017. All RIGHT RESERVED.</p>           
            </footer>
        </div>
    </div>

    <!-- End Page -->
    <!-- Plugins -->
    <script src="/vendor/switchery/switchery.min.js"></script>
    <script src="/vendor/intro-js/intro.js"></script>
    <script src="/vendor/screenfull/screenfull.js"></script>
    <script src="/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Scripts -->
    <script src="/Scripts/remark/global/State.js"></script>
    <script src="/Scripts/remark/global/Component.js"></script>
    <script src="/Scripts/remark/global/Plugin.js"></script>
    <script src="/Scripts/remark/global/Base.js"></script>
    <script src="/Scripts/remark/global/Config.js"></script>
    <script src="/Scripts/remark/Section/Menubar.js"></script>
    <script src="/Scripts/remark/Section/GridMenu.js"></script>
    <script src="/Scripts/remark/Section/Sidebar.js"></script>
    <script src="/Scripts/remark/Section/PageAside.js"></script>
    <script src="/Scripts/remark/Plugin/menu.js"></script>
    <script src="/Scripts/remark/global/config/colors.js"></script>
    <script src="/Scripts/remark/config/tour.js"></script>

    <!-- Page -->
    <script src="/Scripts/remark/Site.js"></script>
    <script src="/Scripts/remark/global/Plugin/asscrollable.js"></script>
    <script src="/Scripts/remark/global/Plugin/slidepanel.js"></script>
    <script src="/Scripts/remark/global/Plugin/switchery.js"></script>
    <script src="/Scripts/remark/global/Plugin/jquery-placeholder.js"></script>
    <script src="/Scripts/remark/global/Plugin/material.js"></script>

    <script>
        (function (document, window, $) {
            'use strict';
            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
</body>
</html>