@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    ViewBag.BodyClass = "page-forgot-password";
    ViewBag.Title = "Reset password confirmation";
}

<div class="page-content vertical-align-middle">
    <div class="panel">
        <div class="panel-body">
            <div>
                <h2>Your password has been reset</h2>
                <p>
                    Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>           
        </div>
    </div>
</div>