@model Kookaburra.Models.ProfileViewModel

<div class="profile page">
    <div class="page-main">
        <div class="page-content">
       
            @if (Model.Alert != null)
            {
                <div class="row">
                    <div class="col-xl-8">
                        @Html.Partial("_Alert", Model.Alert)
                    </div>
                </div>                
            }

            <div class="row">
                <div class="col-xl-8">
                    <div class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Details</h3>
                        </div>
                        <div class="panel-body">
                            @Html.Partial("_UserDetails", Model.UserDetails)
                        </div>
                    </div>

                    <div class="panel panel-bordered">
                        <div class="panel-heading">
                            <h3 class="panel-title">My Password</h3>
                        </div>
                        <div class="panel-body">
                            @Html.Partial("_ResetPassword", Model.ResetPassword)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section js
{
    @Scripts.Render("~/bundles/jqueryval")
}