@model Kookaburra.Models.Offline.OfflineMessagesViewModel

@using Newtonsoft.Json;

<div id="offline-messages" class="page bg-white offline-messages">

    <div class="page-main">
        <!-- Mailbox Header -->
        <div class="page-header">
            <h1 class="page-title">Offline Messages</h1>
            <div class="page-header-actions">
                <form>
                    <div class="input-search input-search-dark">
                        <i class="input-search-icon wb-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" name="" placeholder="Search...">
                    </div>
                </form>
            </div>
        </div>
        <!-- Mailbox Content -->
        <div id="mailContent" class="page-content page-content-table" data-plugin="selectable">
            <!-- Actions -->
            <div class="page-content-actions">
                <div class="pull-xs-right filter">
                    <span>Filter :</span>
                    <div class="dropdown">
                        <button type="button" class="btn btn-pure" data-toggle="dropdown" aria-expanded="false">
                            Check all
                            <span class="icon wb-chevron-down-mini" aria-hidden="true"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right animation-scale-up animation-top-right animation-duration-250"
                             role="menu">
                            <a class="dropdown-item" href="javascript:void(0)">Check read</a>
                            <a class="dropdown-item" href="javascript:void(0)">Check unread</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)">French</a>
                            <a class="dropdown-item" href="javascript:void(0)">Spanish</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mailbox -->

            <div class="pannel">
                <div class="panel-body">
                    <table id="mailboxTable" class="table" data-plugin="animateList" data-animate="fade" data-child="tr">
                        <tbody data-bind="foreach: messages">
                            <tr id="mid_8" data-toggle="slidePanel" class="unread" data-bind="css: {unread: !isRead}, click: $root.openMessage">
                                <td class="cell-80">
                                    <img src="/images/user-1.png" class="img-circle" alt="user-pic">
                                </td>
                                <td>
                                    <div class="content">
                                        <div class="title" data-bind="text: name"></div>
                                        <div class="abstract" data-bind="text: message"></div>
                                    </div>
                                </td>
                                <td class="cell-30 responsive-hide"></td>
                                <td class="cell-130">
                                    <div class="time" data-bind="text: time"></div>
                                    <div class="identity" data-bind="text: country"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- pagination -->
                    <ul data-plugin="paginator" data-total="50" data-skin="pagination-gap"></ul>
                </div>
            </div>

        </div>
    </div>

    <div id="message-details-template" style="display: none;">
        <div class="offline-messages" data-bind="with: currentMessage">
            <header class="slidePanel-header">
                <div class="slidePanel-actions" aria-label="actions" role="group">
                    <button type="button" class="btn btn-icon btn-pure btn-inverse slidePanel-close actions-top icon wb-close slidePanel-will-close" aria-hidden="true"></button>
                </div>
                <div class="mail-header">
                    <div class="mail-header-main">
                        <a class="avatar" href="javascript:void(0)">
                            <img src="/images/user-1.png" class="img-circle" alt="user-pic">
                        </a>
                        <div>
                            <h1 class="name" data-bind="text: name"></h1>
                        </div>
                        <div>
                            <a href="#" data-bind="text: email, attr: { href: 'mailto:' + email() }"></a>
                        </div>
                    </div>
                    <div class="mail-header-right">
                        <span class="time" data-bind="text: time"></span>
                    </div>
                </div>

            </header>
            <div class="slidePanel-inner">
                <section class="slidePanel-inner-section">
                    <div class="mail-content" data-bind="text: message"></div>
                </section>

                <div class="slidePanel-comment">
                    <textarea class="maxlength-textarea form-control mb-sm m-b-20" rows="4" placeholder="Whrite your reply here..." data-bind="text: reply"></textarea>
                    <button class="btn btn-primary" data-dismiss="modal" type="button" data-bind="click: sendReply">Reply</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section css
{
    @Styles.Render("~/bundles/css/offlinemessages")
}

@section js
{
    @Scripts.Render("~/bundles/js/offlinemessage")
}


<script type="text/javascript">

    $(document).ready(function () {

    });

    var initialView = @Html.Raw(JsonConvert.SerializeObject(Model));

    function Message(data) {
        var self = this;

        self.id = ko.observable(data.id);
        self.message = ko.observable(data.message);
        self.time = ko.observable(moment(data.time).format('lll'));
        self.name = ko.observable(data.name);
        self.email = ko.observable(data.email);
        self.country = ko.observable(data.country);
        self.region = ko.observable(data.region);
        self.isRead = ko.observable(data.isRead);
        self.isCurrent = ko.observable(false);
        self.reply = ko.observable('');
    }

    function MessagesViewModel(data) {
        var self = this;

        self.messages = ko.observableArray([]);
        self.total = ko.observable(0);        

        self.currentMessage = ko.computed(function () {
            var result = $.grep(self.messages(), function (e) { return e.isCurrent() == true; });
            if (result && result.length > 0) {
                return result[0];
            } else {
                return null;
            }
        });

        $.each(data.offlineMessages, function (index, item) {
            self.messages.push(new Message(item));
        });


        self.openMessage = function (message) {

            if (self.messages().length > 0) {
                for (var i = 0; i < self.messages().length; i++) {
                    self.messages()[i].isCurrent(false);
                }

                if (message) {
                    message.isCurrent(true);
                }
            }

            var html = $('#message-details-template').html();

            $.slidePanel.show({
                content: html
            },{
                mouseDrag: false,
                touchDrag: false,
                pointerDrag: false,
                closeSelector: '.slidePanel-close',           
                direction: 'right'
            });
        };

        self.sendReply = function (message) {

        };
    }

    ko.applyBindings(new MessagesViewModel(initialView), document.getElementById("offline-messages"));

</script>