<div style="display: none;" data-bind="visible: view() == 'Chat'">
    <div class="online">
        <div class="header">
            <div class="operator-pic"></div>
            <div class="operator-name" data-bind="text: operatorName"></div>
            <div class="close-chat"><a href="#" data-bind="click: closeChat">×</a></div>
        </div>
        <div class="chat-window">
            <ul id="messages" data-bind="foreach: messages">
                <li>
                    <div class="author" data-bind="text: author, css: sentBy"></div>
                    <div class="message" data-bind="text: text, css: sentBy"></div>        
                </li>
            </ul>
        </div>
        <div id="message" class="message-wrapper">
            <textarea data-bind="textInput: newMessage, hasFocus: isMessageBoxFocus, enterkey: sendMessage" rows="1" placeholder="Type in your message here and press Enter to send"></textarea>
        </div>
    </div> 
</div>