<div data-bind="view() == 'GoneOffline'">
    <div class="gone-offline" data-bind="if: goneOffline">
        Operator has gone offline. Click <a href="#" data-bind="leaveMessage">here</a> if you wish leave a message.
    </div>
</div>