<div style="display: none;" data-bind="visisble: view() == 'GoneOffline'">
    <div class="gone-offline">
        Operator has gone offline. Click <a href="javascript:void(0)" data-bind="click: gotoOfflineForm">here</a> if you wish leave a message.
    </div>
</div>