<div data-bind="visible: view() == 'Intro'">
    <div class="introduction">
        <div class="header">
            Please intoduce yourself
        </div>
        <div class="name">
            <input id="name" placeholder="Name" autocomplete="off" data-bind="visitorName" />
        </div>
        <div class="email">
            <input id="email" placeholder="Email (optional)" autocomplete="off" data-bind="visitorEmail" />
        </div>
        <div>
            <input class="btn start" type="button" value="START CHAT" data-bind="click: startChat" />
        </div>
    </div>

    <div class="footer">
        <label><a href="https://www.kookaburra.com/" target="_blank">Powered by Kookaburra</a></label>
        <div style="clear:both;"></div>
    </div>
</div>