<div style="display: none;" data-bind="visible: view() == 'Intro'">
    <div class="introduction">
        <div class="header">
            Please intoduce yourself
        </div>
        <div class="name">
            <input id="visitor-name" type="text" placeholder="Name" autocomplete="off" data-bind="textInput: visitor().name, enterkey: startChat" />
        </div>
        <div class="email">
            <input type="text" placeholder="Email (optional)" autocomplete="off" data-bind="textInput: visitor().email, enterkey: startChat" />
        </div>
        <div>
            <input class="btn start" type="button" value="START CHAT" data-bind="click: startChat" />
        </div>
    </div>

    <div class="footer">
        <label><a href="https://www.kookaburra.chat/" target="_blank">Powered by KOOKABURRA</a></label>
        <div style="clear:both;"></div>
    </div>
</div>