<div style="display: none;" data-bind="visible: view() == 'Offline'">
    <div class="offline">
        <div class="heading">
            Sorry, we aren't online at the moment. Please leave a message and we'll get back to you soon.
        </div>
        <div class="name">
            <input type="text" placeholder="Name" autocomplete="off" data-bind="textInput: offline().name, hasFocus: offline().focusName" />
        </div>
        <div class="email">
            <input type="text" placeholder="Email" autocomplete="off" data-bind="textInput: offline().email" />
        </div>   
        <div class="message">
            <textarea placeholder="Message" autocomplete="off" data-bind="textInput: offline().message"></textarea>
        </div>
        <div class="submit">
            <input class="btn start" type="button" value="SEND" data-bind="click: sendOfflineMessage" />
        </div>
    </div>

    <div class="footer">
        <label><a href="https://www.kookaburra.chat/" target="_blank">Powered by KOOKABURRA</a></label>
        <div style="clear:both;"></div>
    </div>
</div>