<div style="display: none;" data-bind="visible: view() == 'ThankYou'">
    <div class="thank-you">
        <div class="header">
            @Model.ThankYouText
        </div>

        <div class="bg-icon">
            <i class="linecons-comment"></i>
        </div>
    </div>

    <div class="footer">
        <label><a href="https://www.kookaburra.chat/" target="_blank">Powered by KOOKABURRA</a></label>
        <div style="clear:both;"></div>
    </div>
</div>