<div style="display: none;" data-bind="visible: view() == 'ThankYou'">
    <div class="thank-you">
        <div class="header">
            <p>
                Thank you! Your message has been sent. We will get back to you as soon as we can.
            </p>
            <p>
                To send another message <a href="#" data-bind="click: gotoOfflineForm">click here</a>.
            </p>
        </div>

        <div class="bg-icon">
            <i class="linecons-comment"></i>
        </div>
    </div>

    <div class="footer">
        <label>Powered by <a href="https://www.kookaburra.chat/" target="_blank">kookaburra.chat</a></label>
        <div style="clear:both;"></div>
    </div>
</div>