@model Kookaburra.ViewModels.Widget.OnlineBoxViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/js/widget")

    <script src="~/signalr/hubs"></script>

    <link rel="stylesheet" href="~/Content/widget.css">
</head>
<body>
    <div>
        <div class="chatbox">

            <div class="online">
                <div class="chat-body">

                    <div class="introduction" data-bind="if: !conversationStarted()">
                        <div class="heading">
                            Please intoduce yourself
                        </div>
                        <div class="name">
                            <input type="text" placeholder="Name" autocomplete="off" data-bind="value: visitorName"/>                            
                        </div>
                        <div class="email">
                            <input type="text" placeholder="Email (optional)" autocomplete="off" data-bind="value: visitorEmail" />                          
                        </div>
                        <div>
                            <input class="submit" type="button" value="Start Chat" data-bind="click: startConversation" />
                        </div>
                    </div>

                    <div class="chatting" data-bind="if: conversationStarted">
                        <div class="heading">
                            <div class="operator-pic"></div>
                            <div class="operator-name"></div>
                        </div>
                        <div class="chat-window">
                            <ul id="discussion" data-bind="foreach: messages">
                                <li>
                                    <strong data-bind="text: author"></strong>:
                                    <span data-bind="text: text"></span> 
                                    <span data-bind="text: time"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="message-box">
                            <textarea id="message" class="message" data-bind="textInput: newMessage" rows="1"></textarea>
                            <input type="hidden" id="displayname" />
                        </div>
                    </div>

                    <div data-bind="if: goneOffline">
                        Operator has gone offline. Click <a href="/chatbox/offline/@(Model.AccountKey)">here</a> if you wish leave a message.
                    </div>

                </div>

                <div class="box-footer">
                    <label>Powered by <strong><a>OnlineChat</a></strong></label>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            ko.applyBindings(new ChatWidgetViewModel('@Model.AccountKey', 'http://local.chat.com/chat/client'));
        </script>
    </div>
</body>
</html>