@model Kookaburra.Models.Widget.ThankYouViewModel
@{
    Layout = "~/Views/Shared/_LayoutWidget.cshtml";
}

@section head {
    <link rel="stylesheet" href="~/Content/fonts/linecons/css/linecons.css">
}

<div class="thank-you">
    <div class="header">
        @Model.ThankYouText        
    </div>
   
    <div class="bg-icon">
        <i class="linecons-comment"></i>
    </div>
</div>

<div class="footer">
    <label><a href="https://www.kookaburra.com/" target="_blank">Powered by Kookaburra</a></label>
    <div style="clear:both;"></div>
</div>