@{
    Layout = "~/Views/Shared/_LayoutWidget.cshtml";
}

@section head {
    <link rel="stylesheet" href="~/Content/fonts/linecons/css/linecons.css">
}

<div class="thank-you heading">
    Thank you! Your message has been sent. We will get back to you as soon as we can.
    <div class="bg-icon">
        <i class="linecons-comment"></i>
    </div>
</div>