@model Kookaburra.Models.History.ChatHistoryViewModel
@using Newtonsoft.Json;

<div id="chat-history" class="page bg-white chat-history">

    <div class="page-main">

        <!-- No Chats -->
        <div class="page-header" style="display: none;" data-bind="visible: !searching() && !filtering() && totalConversations() == 0 ">
            <div role="alert" class="alert dark alert-info alert-icon alert-dismissible">
                <i class="icon md-alert-circle-o" aria-hidden="true"></i>
                <h4>Historical Chats</h4>
                <p>
                    You don't have any historical chats.
                </p>
            </div>
        </div>

        <div style="display: none;" data-bind="visible: !(!searching() && !filtering() && totalConversations() == 0)">
            <!-- Forum Content Header -->
            <div class="page-header">
                <h1 class="page-title">Historical Chats</h1>

                <div class="m-t-20" action="#" role="search">
                    <div class="input-search input-search-dark">
                        <i class="input-search-icon wb-search" aria-hidden="true"></i>
                        <input type="text" class="form-control w-full" placeholder="Search..." data-bind="textInput: searchTerm, enterkey: search, hasfocus: searchFocus">
                        <button type="button" class="input-search-close icon wb-close" aria-label="Close" data-bind="click: clearSearch"></button>
                    </div>
                </div>
            </div>

            <div class="page-nav-tabs">
                <!-- Search Results -->
                <div style="display: none;" data-bind="visible: searching() && totalConversations() > 0">
                    <h4>Search results for '<span data-bind="text: searchTermLabel"></span>'.</h4>
                </div>

                <!-- Filters -->
                <div data-bind="visible: !searching()">
                    <ul class="nav nav-tabs nav-tabs-line" role="tablist" data-bind="foreach: filters">
                        <li class="nav-item" role="presentation">
                            <a class="active nav-link" data-toggle="tab" href="#forum-newest" aria-controls="forum-newest"
                               aria-expanded="true" role="tab" data-bind="text: $data, click: $root.filter, css: {active: $root.selectedFilter() == $data}"></a>
                        </li>
                    </ul>
                </div>

                <!-- Total -->
                <div class="total-conversations" data-bind="visible: totalConversations() > 0">
                    <span data-bind="text: conversations().length"></span> of <span data-bind="text: totalConversations"></span> Conversations
                </div>
            </div>

            <!-- Content -->
            <div class="page-content tab-content page-content-table nav-tabs-animate">

                <!-- No Search Results -->
                <div class="page-header" style="display: none; padding-top: 0; padding-bottom: 0;" data-bind="visible: searching() && totalConversations() == 0">
                    <div role="alert" class="alert dark alert-info alert-icon alert-dismissible">
                        <i class="icon md-alert-circle-o" aria-hidden="true"></i>
                        <h4>No search results for '<span data-bind="text: searchTermLabel"></span>'.</h4>
                    </div>
                </div>

                <div class="tab-pane animation-fade active" id="forum-newest" role="tabpanel" data-bind="visible: totalConversations() > 0">
                    <table class="table is-indent">
                        <tbody data-bind="foreach: conversations">
                            <tr data-bind="click: $root.openTranscript">

                                <td class="cell-60 responsive-hide">
                                    <a class="avatar" href="javascript:void(0)">
                                        <img class="img-fluid" src="/images/user-1.png">
                                    </a>
                                </td>
                                <td>
                                    <div class="content">
                                        <h5 class="list-group-item-heading" data-bind="text: visitorName"></h5>
                                        <div class="title" data-bind="text: text"></div>
                                        <div class="total-messages">
                                            <i class="wb-chat" aria-hidden="true"></i>
                                            <span data-bind="text: totalMessages"></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="cell-200 forum-posts">
                                    <span data-bind="text: startTime"></span>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                    <div class="text-sm-center" style="padding-bottom: 30px;" data-bind="visible: conversations().length < totalConversations()">
                        <button type="button" class="btn btn-default" data-bind="click: showMore">
                            <i class="icon wb-chevron-down margin-right-5" aria-hidden="true"></i>Show More
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section css
{
    @Styles.Render("~/bundles/css/chathistory")
}

@section js
{
    @Scripts.Render("~/bundles/js/chathistory")
}


<script type="text/javascript">

    var initialView = @Html.Raw(JsonConvert.SerializeObject(Model));
    var viewModel = new ChatHistoryViewModel(initialView);

    ko.applyBindings(viewModel, document.getElementById("chat-history"));

</script>