@model Kookaburra.Models.History.HistoryViewModel

<div id ="chat-history" class="page">
    <div class="page-header">
        <h1 class="page-title">CHAT HISTORY</h1>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-sm-8">

                <div class="xe-widget xe-conversations">
                    <div class="xe-bg-icon">
                        <i class="linecons-comment"></i>
                    </div>
                    <div class="xe-header">
                        <div class="xe-icon">
                            <i class="linecons-comment"></i>
                        </div>
                        <div class="xe-label">
                            <h3>
                                Conversations
                                <small>Chatting arround</small>
                            </h3>
                        </div>
                    </div>
                    <div class="xe-body">

                        <ul class="list-unstyled">
                            <li>
                                <div class="xe-comment-entry">
                                    <a href="#" class="xe-user-img">
                                        <img src="assets/images/user-2.png" class="img-circle" width="40">
                                    </a>

                                    <div class="xe-comment">
                                        <a href="#" class="xe-user-name">
                                            <strong>Jack Gates</strong>
                                        </a>

                                        <p>In it except to so temper mutual tastes mother. Interested cultivated its continuing now yet are. <br>Out interested acceptance our partiality affronting unpleasant why add. Esteem garden me...</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="xe-comment-entry">
                                    <a href="#" class="xe-user-img">
                                        <img src="assets/images/user-5.png" class="img-circle" width="40">
                                    </a>

                                    <div class="xe-comment">
                                        <a href="#" class="xe-user-name">
                                            <strong>Arlind Nushi</strong>
                                            <span class="label label-secondary">5</span>
                                        </a>

                                        <p>Age sold some full like rich new. Amounted repeated as believed in confined juvenile.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="xe-comment-entry">
                                    <a href="#" class="xe-user-img">
                                        <img src="assets/images/user-4.png" class="img-circle" width="40">
                                    </a>

                                    <div class="xe-comment">
                                        <a href="#" class="xe-user-name">
                                            <strong>Bryan Green</strong>
                                        </a>

                                        <p>Stuff sight equal of my woody. Him children bringing goodness suitable she entirely put far daughter.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="xe-footer">
                        <a href="#">View All</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section js
{
    <script src="~/Scripts/moment-with-locales.min.js"></script>
}

<script type="text/javascript">

    var viewModel = function ChatHistoryViewModel() {
        var self = this;


    }

    ko.applyBindings(viewModel, document.getElementById("chat-history"));

</script>