@model Kookaburra.Models.History.ChatHistoryViewModel

@using Newtonsoft.Json;

<div id="chat-history" class="page bg-white chat-history">

    <div class="page-main">
        <!-- Forum Content Header -->
        <div class="page-header">
            <h1 class="page-title">Historical Chats</h1>

            <form class="m-t-20" action="#" role="search">
                <div class="input-search input-search-dark">
                    <input type="text" class="form-control w-full" placeholder="Search..." name="">
                    <button type="submit" class="input-search-btn">
                        <i class="icon wb-search" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
        <!-- Forum Nav -->
        <div class="page-nav-tabs">
            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="active nav-link" data-toggle="tab" href="#forum-newest" aria-controls="forum-newest"
                       aria-expanded="true" role="tab">All</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#forum-activity" aria-controls="forum-activity"
                       aria-expanded="false" role="tab">Today</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#forum-answer" aria-controls="forum-answer"
                       aria-expanded="false" role="tab">Week</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="tab" href="#forum-answer" aria-controls="forum-answer"
                       aria-expanded="false" role="tab">Month</a>
                </li>
            </ul>
        </div>
        <!-- Forum Content -->
        <div class="page-content tab-content page-content-table nav-tabs-animate">
            <div class="tab-pane animation-fade active" id="forum-newest" role="tabpanel">
                <table class="table is-indent">
                    <tbody data-bind="foreach: conversations">
                        <tr data-bind="click: $root.openTranscript">
                            <td class="pre-cell"></td>
                            <td class="cell-60 responsive-hide">
                                <a class="avatar" href="javascript:void(0)">
                                    <img class="img-fluid" src="/images/user-1.png">
                                </a>
                            </td>
                            <td>
                                <div class="content">
                                    <h5 class="list-group-item-heading" data-bind="text: visitorName"></h5>
                                    <div class="title" data-bind="text: text"></div>
                                    <div class="total-messages">                                  
                                        <i class="wb-chat" aria-hidden="true"></i>
                                        <span data-bind="text: totalMessages"></span>
                                    </div>
                                </div>
                            </td>
                            <td class="cell-200 forum-posts">
                                <span data-bind="text: startTime"></span>
                            </td>
                            <td class="suf-cell"></td>
                        </tr>
                 
                    </tbody>
                </table>   
                
                <div class="text-sm-center" style="padding-bottom: 30px;" data-bind="visible: conversations().length < totalConversations()">
                    <button type="button" class="btn btn-default" data-bind="click: showMore">
                        <i class="icon wb-chevron-down margin-right-5" aria-hidden="true"></i>Show More
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section css
{
    @Styles.Render("~/bundles/css/chathistory")
}

@section js
{
    @Scripts.Render("~/bundles/js/chathistory")
}


<script type="text/javascript">

    var initialView = @Html.Raw(JsonConvert.SerializeObject(Model));
    var viewModel = new ChatHistoryViewModel(initialView);

    ko.applyBindings(viewModel, document.getElementById("chat-history"));

</script>